* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
  
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 140px;
    
}

.header-logos {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 20px;
    
}

.logo > img {
    width: 108px;
    height: 23px;
    object-fit: contain;
}

.nav ul {
    list-style: none;      /* removes bullets */
    display: flex;         /* makes items horizontal */
    gap: 20px;             /* spacing between links */
    margin: 0;
    padding: 0;
    align-items: center;
}

.nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
    position: relative;
    padding-bottom: 6px; /* space between text and underline */
}

/* underline base (hidden initially) */
.nav ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;              /* thickness */
    background-color: #000;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.2s ease;
}

/* hover effect */
.nav ul li a:hover::after {
    transform: scaleX(1);
}

.top-links {
    display: flex;
    gap: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.top-links a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.me-icon {
    width: 36px;
    height: 36px;

    border-radius: 50%;   /* makes it round */
    border: 1px solid #000;   /* black border */

    color: black;

    font-size: 12px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.hero1 {
    width: 100%;
    height: 575px; /* fixed hero height */

    background-image: url("./images/Hero-Desktop-Surface-Laptop-Platinum-M365-Xbox-Game-Pass-Controller.jpeg");
    background-size: cover;        /* fills area nicely */
    background-position: center;   /* keeps image centered */
    background-repeat: no-repeat;

    display: flex;
    align-items: center;  /* vertical centering */
    padding: 0 60px;      /* spacing from edges */
    color: white;
}

.hero-content {
    max-width: 1000px; /* limits text width for readability */
    color: black;
    padding: 10px 240px;
}

.hero-content h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 15px;
    margin-bottom: 30px;
}

.hero-content button {
    padding: 18px 20px;
    font-size: 14px;
    background-color: #0078d4;
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}


.hero2 {
    width: 100%;
    height: 575px; /* fixed hero height */

    background-image: url("./images/Hero2.jpeg");
    background-size: cover;        /* fills area nicely */
    background-position: center;   /* keeps image centered */
    background-repeat: no-repeat;

    display: flex;
    align-items: center;  /* vertical centering */
    padding: 0 60px;      /* spacing from edges */
    color: white;
}

.hero2  > .hero-content {
    max-width: 1000px; /* limits text width for readability */
    color: black;
    padding: 10px 240px;
}

.hero2 > .hero-content h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero2 > .hero-content p {
    font-size: 15px;
    margin-bottom: 30px;
}

.hero2 .btn-config {
   padding: 8px 20px;
    font-size: 14px;
    background-color: orange;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
}


.carousel {
    width: 100%;
    height: 575px;
    overflow: hidden;
    position: relative;
}

.carousel-track {
    display: flex;
    height: 100%;
    transition: transform 0.8s ease-in-out;
}

/* CRITICAL FIX */
.slide {
    flex: 0 0 100%;   /* replaces width/min-width chaos */
    height: 100%;
}